/*
* - множинний селектор
*/

div{

}

div * {  
    /* тут можуть бути стилі дочірних елементів div  */
    /*застосовується для всіх дочірних елементів div, не до самого div  */

}


/*
*  - універсальний селектор, застосовується для всіх елементів на сторінці

синтаксис
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

Проблема - різні базові стилі, які можуть видавати браузери
Рішення 1 - це упіверсальний селектор з базовими правилами,
Рішення 2 - reset css, він обнуляє всі стилі, підключається в html перед всіма стилями,
Рішення 3 - файл normalize.css, він призводить всі стилі браузерів до чогось спільного
*/
