.nav-list {
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  
  .list-item {
    position: relative;
    display: inline-block;
    padding: 20px;
    background-color: rgb(248, 99, 45);
  }
  
  .link {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .sub-nav-list {
    position: absolute;
    top: 62px;
    left: -35px;  
    display: block;
    width: 150px;
  }
  
  .sub-list-item {
    display: none;
    background-color: rgb(248, 99, 45);
    padding: 20px;
  }
  
  .list-item:hover .sub-list-item {
    display: block;
  }
  
  .sub-sub-nav-list {
    position: absolute;
    width: 150px;
    top: 125px;
    left: 150px;
  }
  
  .sub-sub-list-item {
    display: none;
    background-color: rgb(248, 99, 45);
    padding: 20px;
  }
  
  .sub-list-item:hover .sub-sub-list-item {
    display: block;
  }
  
  .sub-sub-sub-nav-list {
    position: absolute;
    width: 150px;
    top: 125px;
    left: 150px;
  }
  
  .sub-sub-sub-list-item {
    display: none;
    background-color: rgb(248, 99, 45);
    padding: 20px;
  }
  
  .sub-sub-list-item:hover .sub-sub-sub-list-item {
    display: block;
  }
  
  .sub-list-item:hover, .sub-sub-list-item:hover, .sub-sub-sub-list-item:hover {
    background-color: rgb(150, 54, 19);
  }