form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* label, input {
    display: block;
  }
  
  input, button {
    padding: 10px 20px;
    font-size: 16px;
  } */

  .color-red {
    color: red;
  }

  .required::before {
    content: '*';
    color: red;

  }

  fieldset {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    margin: 5px;
  }
  
  legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
  }
  
  input {
    margin: 0.4rem;
  }

  textarea{
    resize: none;
    height: 150px;
  }